<div class="p-3 mb-4 bg-light rounded-3">
  <div class="container-fluid">
    <h1 class="display-6 fw-bold">Curso de Angular</h1>
    <p class="col-md-12 fs-6">En este curso aprenderás a crear y mantener aplicaciones web en una sola página con Angular. A través de este framework para aplicaciones web, trabajarás con HTML y TypeScript, pudiendo generar desde el prototipo hasta la implementación completa de una aplicación.</p>
    <button class="btn btn-primary" type="button">Ver temario</button>
  </div>
</div>

<div class="row">
  <div class="col col-sm-12 col-md-6 col-xl-4">
    <div class="card">
      <img src="https://img.freepik.com/free-vector/webinar-concept-illustration_114360-4764.jpg" />
      <div class="card-body">
        <h5 class="card-title">Duración</h5>
        <p class="card-text">
          18 clases online en vivo <br>
          Clases complementarias <br>
          Tutor a cargo
        </p>
      </div>
    </div>
  </div>
  <div class="col col-sm-12 col-md-6 col-xl-4">
    <div class="card">
      <img src="https://img.freepik.com/free-vector/studying-concept-illustration_114360-1107.jpg" alt="">
      <div class="card-body">
        <h5 class="card-title">Aprende haciendo</h5>
        <p class="card-text">Aprender con la práctica, basada en 3 pasos: docente explica, luego hace, finalmente el estudiante lo hace</p>
      </div>
    </div>
  </div>
  <div class="col col-sm-12 col-md-6 col-xl-4">
    <div class="card">
      <img src="https://img.freepik.com/free-vector/telework-concept-illustration_114360-5624.jpg" alt="">
      <div class="card-body">
        <h5 class="card-title">Actividades colaborativas</h5>
        <p class="card-text">En ciertas clases en vivo, habrá momentos de interacción entre los estudiantes en grupos reducidos.</p>
      </div>
    </div>
  </div>
</div>
